/* body */
body {
  background-color: #f2f2f3;
}
/* header */
.header {
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.header__conteiner {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-left: 30px;
}
.header__log-in-div {
  width: 370px;
  height: 100%;
  margin-right: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__log-in-text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}
.header__log-in-button {
  width: 100px;
  height: 40px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-width: 1px;
  border-color: #01aedc;
  border-radius: 5px;
}
.header__log-in-button:hover {
  background-color: #01aedc;
  color: white;
  border: none;
  cursor: pointer;
}
.header__log-in-button:active {
  background-color: rgb(250, 246, 246);
  color: grey;
}
button:focus {
  outline: none;
}
/* main */
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* acconut */
.main__account {
  max-width: 1250px;
  width: 100%;
  height: 100%;
  margin: 30px 30px 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.account__information {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.offer__intro--responsive {
  display: none;
  max-width: 350px;
  width: 100%;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 5px;
}
.offer__intro--responsive img {
  display: none;
  padding-left: 50px;
}
.offer__intro--responsive h2 {
  display: none;
  padding: 20px 20px 20px 25px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  line-height: 20px;
}
.account__about {
  max-width: 800px;
  height: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
.account__contact {
  max-width: 230px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__profile-image--background {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 10px solid #e0f7fc;
}
.contact__profile-image {
  width: 130px;
  height: 130px;
}
.contact__media h1 {
  display: none;
}
.contact__social-media {
  width: 130px;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}
.contact__message-button {
  width: 130px;
  height: 45px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-width: 1px;
  border-color: #01aedc;
  border-radius: 5px;
}
.contact__message-button:hover {
  background-color: #01aedc;
  color: white;
  border: none;
  cursor: pointer;
}
.contact__message-button:active {
  background-color: rgb(250, 246, 246);
  color: grey;
}
.header__log-in-dots-conteiner {
  display: none;
}
.account__text {
  max-width: 540px;
  width: 100%;
  height: 100%;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}
.account__text h1 {
  padding: 25px 0;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: bolder;
}
.account__text p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 2px 0;
}
.account__text p:nth-last-child(1) {
  padding-top: 25px;
}
.account-text-responsive-container {
  display: none;
}
.account-text-responsive-container p {
  display: none;
}
/* gallery  */
.account__gallery {
  max-width: 800px;
  width: 100%;
  margin: 20px 0;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account__gallery h3 {
  padding: 20px 0 5px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  align-self: flex-start;
}
.gallery__images {
  max-width: 760px;
  width: 100%;
  margin: 20px 15px;
  display: flex;
  flex-wrap: wrap;
}
.gallery__images div {
  height: 150px;
  margin: 5px 5px;
  border-radius: 10px;
}
.gallery__images div:hover {
  opacity: 0.7;
}
.gallery__image--small {
  width: 70px;
}
.gallery__image--medium {
  width: 125px;
}
.gallery__image--large {
  width: 190px;
}
.gallery__images div:nth-child(1) {
  background-image: url(media/photo1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images div:nth-child(2) {
  background-image: url(media/photo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images div:nth-child(3) {
  background-image: url(media/photo3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images div:nth-child(4) {
  background-image: url(media/photo4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images div:nth-child(5) {
  background-image: url(media/photo5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__images div:nth-child(6) {
  background-image: url(media/photo6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images div:nth-child(7) {
  background-image: url(media/photo7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images div:nth-child(8) {
  background-image: url(media/photo8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images div:nth-child(9) {
  background-image: url(media/photo9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images div:nth-child(10) {
  background-image: url(media/photo10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images div:nth-child(11) {
  background-image: url(media/photo11.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images div:nth-child(12) {
  background-image: url(media/photo12.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__images div:nth-child(13) {
  background-image: url(media/photo13.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.account__gallery--responsive {
  max-width: 800px;
  width: 100%;
  margin: 20px 0;
  background-color: white;
  border-radius: 5px;
  display: none;
}
.account__gallery--responsive h3 {
  padding: 20px 0 5px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  align-self: flex-start;
}
.gallery__images--responsive {
  max-width: 760px;
  width: 100%;
  margin: 20px 15px;
  display: flex;
  flex-wrap: wrap;
}
.gallery__images--responsive div {
  height: 150px;
  margin: 5px 5px;
  border-radius: 10px;
}
.gallery__images--responsive div:hover {
  opacity: 0.7;
}
.gallery__image--small {
  width: 70px;
}
.gallery__image--medium {
  width: 125px;
}
.gallery__image--large {
  width: 190px;
}
.gallery__images--responsive div:nth-child(1) {
  background-image: url(media/photo1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images--responsive div:nth-child(2) {
  background-image: url(media/photo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images--responsive div:nth-child(3) {
  background-image: url(media/photo3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images--responsive div:nth-child(4) {
  background-image: url(media/photo4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images--responsive div:nth-child(5) {
  background-image: url(media/photo5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__images--responsive div:nth-child(6) {
  background-image: url(media/photo6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images--responsive div:nth-child(7) {
  background-image: url(media/photo7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images--responsive div:nth-child(8) {
  background-image: url(media/photo8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images--responsive div:nth-child(9) {
  background-image: url(media/photo9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images--responsive div:nth-child(10) {
  background-image: url(media/photo10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images--responsive div:nth-child(11) {
  background-image: url(media/photo11.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__images--responsive div:nth-child(12) {
  background-image: url(media/photo12.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__images--responsive div:nth-child(13) {
  background-image: url(media/photo13.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* account services */
.account__offer {
  max-width: 394px;
  width: 100%;
  height: 676px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.account__offers {
  max-width: 394px;
  width: 100%;
  max-height: 676px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.offer__intro {
  max-width: 394px;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
.offer__intro img {
  padding-left: 50px;
}
.offer__intro h2 {
  padding: 20px 20px 20px 25px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  line-height: 20px;
}
.offer__services {
  max-width: 394px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.offer__services h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 30px 0 0 40px;
}
.services__conteiner {
  width: 100%;
  background-color: white;
}
.services__service {
  width: 320px;
  height: 130px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  display: flex;
}
.services__service--chosen {
  border: 2px solid #01aedc;
}
.service__duration-price {
  max-width: 80px;
  width: 100%;
  background-color: rgb(250, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(226, 224, 224);
  border-radius: 5px;
}
.service__duration-price--chosen {
  border-right: 1px solid #01aedc;
}
.service__duration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.service__duration-first {
  background-color: #f5b118;
}
.service__duration-second {
  background-color: #5cd6be;
}
.service__duration-third {
  background-color: #b8b8fe;
}
.service__duration p:nth-child(1) {
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  line-height: 17px;
}
.service__duration p:nth-child(2) {
  padding: 0 10px 5px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  color: white;
}
.service__price {
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.service__text {
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service__text div {
  display: flex;
  justify-content: space-between;
}
.service__text h3 {
  padding: 10px 0 10px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
}
.service__checkbox-conteiner {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}
.service__checkbox-conteiner input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.service__checkmark {
  position: absolute;
  top: -5px;
  left: 7px;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 100%;
}
.service__checkbox-conteiner:hover input ~ .service__checkmark {
  background-color: #01aedc;
  border: none;
}
.service__checkbox-conteiner input:checked ~ .service__checkmark {
  background-color: white;
  border: 1px solid #01aedc;
}
.service__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.service__checkbox-conteiner input:checked ~ .service__checkmark:after {
  display: block;
}
.service__checkbox-conteiner .service__checkmark:after {
  left: 9px;
  top: -4px;
  width: 5px;
  height: 13px;
  border: 1px solid #01aedc;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(45deg);
}
.service__text p {
  padding: 0 0 5px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgb(114, 113, 113);
}
.service__text p a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  font-size: 12px;
}
.services__book-button {
  max-width: 320px;
  width: 100%;
  max-height: 45px;
  height: 100%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-radius: 7px;
  background-color: #01aedc;
  color: white;
  border: 0;
}
.services__book-button:hover {
  background-color: white;
  color: #01aedc;
  border: 1px solid #01aedc;
  cursor: pointer;
}
.services__book-button:active {
  background-color: rgb(250, 246, 246);
  color: grey;
}
.service__text-arrow {
  display: none;
}
.service__text-arrow p {
  display: none;
}
/* footer */
.footer {
  width: 100%;
  height: 100%;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}
.footer__conteiner--big {
  max-width: 1214px;
  width: 100%;
  height: 100%;
  display: flex;
}
.footer__conteiner--small {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-bottom: 15px;
  background-color: white;
  border-radius: 5px;
}
.footer h5 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0 10px 40px;
  box-sizing: border-box;
}
.footer__reviews {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviews__commnets {
  max-width: 740px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviews__comment {
  max-width: 740px;
  width: 100%;
  height: 100%;
  padding: 25px 0;
  display: flex;
}
.reviews__commnet-border {
  max-width: 800px;
  width: 90%;
  height: 1px;
  background-color: rgb(190, 190, 190);
  margin: auto;
}
.comment__img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 100%;
  border: 10px solid #e0f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment__img img {
  width: 60px;
  height: 60px;
}
.comment__text {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.comment__text div {
  display: flex;
  justify-content: space-between;
}
.comment__text h6 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.comment__stars img {
  width: 16px;
  height: 16px;
}
.comment__actual-text {
  padding: 10px 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: rgb(114, 113, 113);
  line-height: 18px;
}
.comment__text-responsive-conteiner {
  display: none;
}
.comment__text-responsive {
  padding: 0 25px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: rgb(114, 113, 113);
  line-height: 16px;
  display: 0 25px;
  box-sizing: border-box;
}
.reviews__pages {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews__pages-arrows {
  padding: 0 8px;
}
.reviews__pages-dots {
  padding: 0 8px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgb(114, 113, 113);
  letter-spacing: 5px;
}
.reviews__page {
  padding: 0 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgb(114, 113, 113);
}
.reviews__page--chosen {
  padding: 5px;
  background-image: url(media/pagenumberBackground.png);
  background-position: center;
  letter-spacing: 0px;
  color: black;
  font-weight: bold;
}
.reviews__input-commnet {
  max-width: 800px;
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.input-comment__head {
  max-width: 740px;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.input-comment__head h6 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: rgb(114, 113, 113);
}
.input-commnet__stars img {
  width: 18px;
  height: 18px;
}
.input-comment__text {
  max-width: 740px;
  width: 100%;
  min-height: 120px;
  height: 100%;
  padding: 12px 12px;
  border-radius: 10px;
  border: 1px solid rgb(243, 239, 239);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: grey;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.input-comment__text:hover {
  border-color: #01aedc;
}
.input-comment__text:focus {
  border-color: #01aedc;
  outline: none;
}
.input-comment__text::placeholder {
  color: rgb(190, 190, 190);
}
.input-commnet__button-conteiner {
  max-width: 740px;
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.input-commnet__button {
  max-width: 140px;
  width: 100%;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #f0f1f1;
  color: #b0adb7;
  border: none;
  border-radius: 5px;
}
.input-commnet__button:hover {
  background-color: #b0adb7;
  color: #f0f1f1;
  border: none;
  cursor: pointer;
}
.input-commnet__button:active {
  background-color: rgb(250, 246, 246);
  color: grey;
}
/* responsivity */
@media only screen and (max-width: 1273px) {
  .main {
    margin-bottom: 0px;
  }
  .main__account {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gallery__images {
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer__conteiner--big {
    justify-content: center;
  }
}
@media only screen and (max-width: 1214px) {
  .header__log-in-div {
    margin-right: 0;
  }
  .main {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 1193px) {
  .account__information {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 793px) {
  /* header */
  .header__log-in-div {
    justify-content: flex-end;
  }
  .header__log-in-text {
    display: none;
  }
  .header__log-in-button {
    display: none;
  }
  .header__log-in-dots-conteiner {
    display: block;
    padding-bottom: 15px;
  }
  .header__log-in-dots {
    margin-right: 20px;
    color: grey;
    font-size: 25px;
    font-weight: bold;
    line-height: 10px;
  }
  /* gallery */
  .gallery__images {
    max-width: 650px;
    width: 100%;
  }
  .account__gallery h3 {
    padding: 20px 0 5px 55px;
  }
  .gallery__image--small {
    width: 54px;
  }
  .gallery__image--medium {
    width: 108px;
  }
  .gallery__image--large {
    width: 162px;
  }
  /* footer */
  .reviews__comment {
    padding: 25px;
    box-sizing: border-box;
  }
  .reviews__input-commnet {
    padding: 15px 25px;
  }
}
@media only screen and (max-width: 745px) {
  .account__gallery h3 {
    padding: 20px 0 5px 25px;
  }
}
@media only screen and (max-width: 700px) {
  .gallery__images {
    max-width: 500px;
    width: 100%;
  }
  .account__gallery h3 {
    padding: 20px 0 5px 75px;
  }
  .gallery__image--small {
    width: 40px;
  }
  .gallery__image--medium {
    width: 80px;
  }
  .gallery__image--large {
    width: 120px;
  }
}
@media only screen and (max-width: 655px) {
  .account__gallery h3 {
    padding: 20px 0 5px 55px;
  }
}
@media only screen and (max-width: 600px) {
  .account__gallery h3 {
    padding: 20px 0 5px 30px;
  }
}
@media only screen and (max-width: 550px) {
  /* account information */
  .account__information {
    justify-content: center;
    align-items: center;
  }
  .account__about {
    max-width: 350px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .account__contact {
    max-width: 280px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact__media {
    max-width: 200px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact__media h1 {
    width: 100%;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bolder;
  }
  .contact__profile-image--background {
    width: 80px;
    height: 80px;
    border: 7px solid #e0f7fc;
  }
  .contact__profile-image {
    width: 80px;
    height: 80px;
  }
  .contact__social-media {
    width: 110px;
    padding: 0;
    margin: 15px 0;
  }
  .info__social-media-icon {
    width: 20px;
    height: 20px;
  }
  .contact__message-button {
    width: 110px;
    height: 35px;
    font-size: 12px;
  }
  .account__text {
    max-width: 280px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .account__text h1 {
    display: none;
  }
  .account__text p {
    font-size: 12px;
    line-height: 20px;
    padding: 0;
  }
  .account__text p:nth-child(5) {
    display: none;
  }
  .account-text-responsive-container {
    width: 100%;
    padding: 0;
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .account-text-responsive-container p {
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    text-decoration: underline;
  }
  /* gallery */
  .account__gallery {
    display: none;
  }
  .account__gallery--responsive {
    max-width: 350px;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .account__gallery--responsive h3 {
    padding: 20px 0 15px 40px;
    font-size: 18px;
  }
  .gallery__images--responsive {
    max-width: 280px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .gallery__images--responsive div:nth-child(1) {
    width: 181px;
  }
  .gallery__images--responsive div:nth-child(2) {
    display: none;
  }
  .gallery__images--responsive div:nth-child(3) {
    display: none;
  }
  .gallery__images--responsive div:nth-child(4) {
    display: none;
  }
  .gallery__images--responsive div:nth-child(5) {
    width: 181px;
  }
  .gallery__images--responsive div:nth-child(6) {
    width: 79px;
    order: -1;
  }
  .gallery__images--responsive div:nth-child(7) {
    width: 79px;
  }
  .gallery__images--responsive div:nth-child(8) {
    display: none;
  }
  .gallery__images--responsive div:nth-child(9) {
    width: 79px;
  }
  .gallery__images--responsive div:nth-child(10) {
    display: none;
  }
  .gallery__images--responsive div:nth-child(11) {
    width: 181px;
  }
  .gallery__images--responsive div:nth-child(12) {
    width: 181px;
  }
  .gallery__images--responsive div:nth-child(13) {
    width: 79px;
  }
  /* services */
  .account__offer {
    height: 100%;
  }
  .offer__intro {
    display: none;
  }
  .offer__services {
    max-width: 350px;
    width: 100%;
    margin: 10px auto 0 auto;
    height: 100%;
  }
  .offer__intro--responsive {
    display: flex;
    align-items: center;
  }
  .offer__intro--responsive img {
    display: block;
  }
  .offer__intro--responsive h2 {
    display: block;
  }
  .service__text-arrow {
    display: block;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 10px 0 0;
  }
  .service__text-arrow p {
    padding: 0;
    display: block;
  }
  .service__checkbox-conteiner {
    display: none;
  }
  .service__checkmark {
    display: none;
  }
  /* footer */
  .footer__conteiner--small {
    margin-top: 0;
    max-width: 350px;
    width: 100%;
  }
  .reviews__comment {
    padding: 15px;
  }
  .comment__text div:nth-child(1) {
    flex-direction: column;
    justify-content: center;
  }
  .comment__img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border: 6px solid #e0f7fc;
  }
  .comment__img img {
    width: 50px;
    height: 50px;
  }
  .comment__stars {
    width: 80px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .comment__stars img {
    width: 12px;
    height: 12px;
  }
  .comment__text {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .comment__text h6 {
    font-size: 13px;
  }
  .comment__actual-text {
    display: none;
  }
  .comment__text-responsive-conteiner {
    display: block;
  }
  .reviews__pages {
    padding-top: 30px;
  }
  .reviews__commnet-border {
    margin-top: 15px;
  }
  .services__book-button {
    margin: 25px auto;
  }
  .input-comment__text {
    font-size: 11px;
  }
  .reviews__pages {
    display: none;
  }
}
